<script>
function showMask() {
    var $postMask = $('<div id="postMask">正在提交...</div>');
    $postMask.css({
        'display': 'block',
        'box-sizing': 'border-box',
        'position': 'fixed',
        'left': '0',
        'top': '0',
        'width': window.innerWidth + 'px',
        'height': window.innerHeight + 'px',
        'padding-top': window.innerHeight * 0.5 + 150 + 'px',
        'font-size': '16px',
        'color': '#fff',
        'text-align': 'center',
        'background-repeat': 'no-repeat',
        'background-position': 'center',
        'background-color': 'rgba(0, 0, 0, 0.8)',
        'background-image': 'url(../assets/loading.gif)',
        'z-index': '9999',
    });
    $('body').append($postMask);
    $('body').css({
        'overflow-x': 'hidden',
        'overflow-y': 'hidden'
    });
}
</script>
