<!-- 左边菜单栏 S -->
<aside class="bg-black aside hidden-print" id="nav">
    <section class="vbox">
        <section class="w-f-md scrollable">
            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px"
                 data-railOpacity="0.2">
                <!-- 导航菜单 S -->
                <nav class="nav-primary hidden-xs">
                    <!-- 账号管理 S -->
                    <ul class="nav clearfix" data-ride="collapse">
                        <li class="hidden-nav-xs padder m-t m-b-sm font-bold text-lg">
                           账号管理
                        </li>
                        <li>
                            <a href="/user/account/userCentre" class="auto">
                                <i class="icon-settings icon text-success"></i>
                                <span class="font-bold">用户中心</span>
                            </a>
                        </li>
                        <li>
                            <a href="/user/account/userInfo" class="auto">
                                <i class="icon-settings icon text-success"></i>
                                <span class="font-bold">账户信息</span>
                            </a>
                        </li>
                    </ul>
                    <!-- 账号管理 E -->
                    <!-- 仓储服务 S -->
                    <ul class="nav clearfix" data-ride="collapse">
                        <li class="hidden-nav-xs padder m-t m-b-sm font-bold text-lg">
                            仓储服务
                        </li>
                        <li>
                            <a href="javascript:;" class="auto">
                                <span class="pull-right text-muted">
                                    <i class="fa fa-angle-right text"></i>
                                    <i class="fa fa-angle-down text-active"></i>
                                </span>
                                <i class="icon-home icon text-info"></i>
                                <span class="font-bold">我的账户</span>
                            </a>
                            <ul class="nav dk text-sm">
                                <li>
                                    <a href="" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>
                                        <span>开通服务</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>
                                        <span>我的仓储</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="auto">
                                <span class="pull-right text-muted">
                                    <i class="fa fa-angle-right text"></i>
                                    <i class="fa fa-angle-down text-active"></i>
                                </span>
                                <i class="icon-home icon text-info"></i>
                                <span class="font-bold">产品管理</span>
                            </a>
                            <ul class="nav dk text-sm">
                                <li>
                                    <a href="/user/product/create" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>
                                        <span>新建产品</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/user/product/list" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>
                                        <span>产品列表</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;" class="auto">
                                <span class="pull-right text-muted">
                                    <i class="fa fa-angle-right text"></i>
                                    <i class="fa fa-angle-down text-active"></i>
                                </span>
                                <i class="icon-home icon text-info"></i>
                                <span class="font-bold">入库管理</span>
                            </a>
                            <ul class="nav dk text-sm">
                                <li>
                                    <a href="/user/input/create" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>
                                        <span>新建头程入库单</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/user/input/list" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>
                                        <span>头程入库单列表</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/user/input/stock" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>
                                        <span>库存列表</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="auto">
                                <span class="pull-right text-muted">
                                    <i class="fa fa-angle-right text"></i>
                                    <i class="fa fa-angle-down text-active"></i>
                                </span>
                                <i class="icon-home icon text-info"></i>
                                <span class="font-bold">出库订单管理</span>
                            </a>
                            <ul class="nav dk text-sm">
                                <li>
                                    <a href="javascript:;" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>
                                        <span>新建出库订单</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>
                                        <span>出库订单列表</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>
                                        <span>发件人管理</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- 仓储服务 E -->
                    <!-- 财务管理 S -->
                    <ul class="nav">
                        <li class="hidden-nav-xs padder m-t m-b-sm font-bold text-lg">
                            财务管理
                        </li>
                        <li>
                            <a href="">
                                <i class="icon-list icon"></i>
                                <span>账户余额</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="icon-list icon"></i>
                                <span>货运单</span>
                            </a>
                        </li>
                    </ul>
                    <!-- 财务管理 E -->
                    <!-- 问题件管理 S -->
                    <ul class="nav">
                        <li class="hidden-nav-xs padder m-t m-b-sm font-bold text-lg">
                            问题件管理
                        </li>
                        <li>
                            <a href="">
                                <i class="icon-list icon"></i>
                                <span>问题件列表</span>
                            </a>
                        </li>
                    </ul>
                    <!-- 问题件管理 E -->
                </nav>
                <!-- 导航菜单 E -->
            </div>
        </section>
    </section>
</aside>
<!-- 左边菜单栏 E -->