<!-- 左边菜单栏 S -->
<aside class="bg-black aside hidden-print" id="nav">
    <section class="vbox">
        <section class="w-f-md scrollable">
            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px"
                 data-railOpacity="0.2">
                <!-- 导航菜单 S -->
                <nav class="nav-primary hidden-xs">
                    <!-- 产品管理 S -->
                    <ul class="nav clearfix" data-ride="collapse">
                        <li class="hidden-nav-xs padder m-t m-b-sm font-bold text-lg">
                           产品管理
                        </li>
                        <li>
                            <a href="/supplier/product/create" class="auto">
                                <i class="fa fa-angle-right text-xs"></i>
                                <span>新建产品</span>
                            </a>
                        </li>
                        <li>
                            <a href="/supplier/product/list" class="auto">
                                <i class="fa fa-angle-right text-xs"></i>
                                <span>产品列表</span>
                            </a>
                        </li>
                    </ul>
                    <!-- 产品管理 E -->
                    <!-- 供应商管理 S -->
                    <ul class="nav clearfix" data-ride="collapse">
                        <li class="hidden-nav-xs padder m-t m-b-sm font-bold text-lg">
                            入库管理
                        </li>
                        <li>
                            <a href="/supplier/input/create" class="auto">
                                <i class="fa fa-angle-right text-xs"></i>
                                <span>新建入库单</span>
                            </a>
                        </li>
                        <li>
                            <a href="/supplier/input/list" class="auto">
                                <i class="fa fa-angle-right text-xs"></i>
                                <span>入库单列表</span>
                            </a>
                        </li>
                        <li>
                            <a href="/supplier/input/stock" class="auto">
                                <i class="fa fa-angle-right text-xs"></i>
                                <span>库存列表</span>
                            </a>
                        </li>
                    </ul>
                    <!-- 供应商管理 E -->
                </nav>
                <!-- 导航菜单 E -->
            </div>
        </section>
    </section>
</aside>
<!-- 左边菜单栏 E -->