<!-- 左边菜单栏 S -->
<aside class="bg-black aside hidden-print" id="nav">
    <section class="vbox">
        <section class="w-f-md scrollable">
            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railOpacity="0.2">
                <!-- 导航菜单 S -->
                <nav class="nav-primary hidden-xs">
                    <!-- 商城管理 S -->
                    <ul class="nav clearfix" data-ride="collapse">
                        <li class="hidden-nav-xs padder m-t m-b-sm font-bold text-lg">
                            商城管理
                        </li>
                        <li>
                            <a href="#" class="auto">
                                                <span class="pull-right text-muted">
                                                    <i class="fa fa-angle-right text"></i>
                                                    <i class="fa fa-angle-down text-active"></i>
                                                </span>
                                <i class="icon-settings icon text-success"></i>
                                <span class="font-bold">系统设置</span>
                            </a>
                            <ul class="nav dk text-sm">
                                <li>
                                    <a href="mall-info.html" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>
                                        <span>商城信息</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="auto">
                                                <span class="pull-right text-muted">
                                                    <i class="fa fa-angle-right text"></i>
                                                    <i class="fa fa-angle-down text-active"></i>
                                                </span>
                                <i class="icon-home icon text-info"></i>
                                <span class="font-bold">主页设置</span>
                            </a>
                            <ul class="nav dk text-sm">
                                <li>
                                    <a href="index-banner.html" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>
                                        <span>幻灯片</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="index-quick.html" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>
                                        <span>导航栏</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="index-message.html" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>
                                        <span>公告栏</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="m-b hidden-nav-xs"></li>
                    </ul>
                    <!-- 商城管理 E -->
                    <!-- 商品管理 S -->
                    <ul class="nav" data-ride="collapse">
                        <li class="hidden-nav-xs padder m-t m-b-sm font-bold text-lg">
                            商品管理
                        </li>
                        <li>
                            <a href="#" class="auto">
                                                <span class="pull-right text-muted">
                                                    <i class="fa fa-angle-right text"></i>
                                                    <i class="fa fa-angle-down text-active"></i>
                                                </span>
                                <i class="icon-screen-desktop icon"></i>
                                <span>商品分类</span>
                            </a>
                            <ul class="nav dk text-sm">
                                <li>
                                    <a href="goods-class-add.html" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>
                                        <span>添加分类</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="goods-class.html" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>
                                        <span>管理分类</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="goods-item-add.html">
                                <i class="fa fa-plus-square-o"></i>
                                <span class="font-bold">添加商品</span>
                            </a>
                        </li>
                        <li>
                            <a href="goods-item-list.html">
                                <i class="icon icon-list"></i>
                                <span class="font-bold">商品列表</span>
                            </a>
                        </li>
                        <li>
                            <a href="goods-item-trash.html">
                                <i class="icon icon-trash"></i>
                                <span class="font-bold">商品回收站</span>
                            </a>
                        </li>
                    </ul>
                    <!-- 商品管理 E -->
                    <!-- 订单管理 S -->
                    <ul class="nav">
                        <li class="hidden-nav-xs padder m-t m-b-sm font-bold text-lg">
                            订单管理
                        </li>
                        <li>
                            <a href="order-list.html">
                                <i class="icon-list icon"></i>
                                <span>所有中奖订单</span>
                            </a>
                        </li>
                        <li>
                            <a href="order-list.html">
                                <i class="icon-list icon"></i>
                                <span>待揭晓</span>
                            </a>
                        </li>
                        <li>
                            <a href="order-list.html">
                                <i class="icon-list icon"></i>
                                <span>待确认地址</span>
                            </a>
                        </li>
                        <li>
                            <a href="order-list.html">
                                <i class="icon-list icon"></i>
                                <span>待发货</span>
                            </a>
                        </li>
                        <li>
                            <a href="order-list.html">
                                <i class="icon-list icon"></i>
                                <span>已发货</span>
                            </a>
                        </li>
                        <li>
                            <a href="order-list.html">
                                <i class="icon-list icon"></i>
                                <span>已完成</span>
                            </a>
                        </li>
                    </ul>
                    <!-- 订单管理 E -->
                    <!-- 会员管理 S -->
                    <ul class="nav">
                        <li class="hidden-nav-xs padder m-t m-b-sm font-bold text-lg">
                            会员管理
                        </li>
                        <li>
                            <a href="user-list.html">
                                <i class="icon-user icon"></i>
                                <span>会员列表</span>
                            </a>
                        </li>
                    </ul>
                    <!-- 会员管理 E -->
                    <!-- 晒单管理 S -->
                    <ul class="nav">
                        <li class="hidden-nav-xs padder m-t m-b-sm font-bold text-lg">
                            晒单管理
                        </li>
                        <li>
                            <a href="share-list.html">
                                <i class="fa fa-clock-o"></i>
                                <span>待审核</span>
                            </a>
                        </li>
                        <li>
                            <a href="share-list.html">
                                <i class="fa fa-check-square"></i>
                                <span>已通过</span>
                            </a>
                        </li>
                        <li>
                            <a href="share-list.html">
                                <i class="fa fa-times"></i>
                                <span>未通过</span>
                            </a>
                        </li>
                    </ul>
                    <!-- 晒单管理 E -->
                    <!-- 数据管理 S -->
                    <ul class="nav">
                        <li class="hidden-nav-xs padder m-t m-b-sm font-bold text-lg">
                            数据管理
                        </li>
                        <li>
                            <a href="data-history.html">
                                <i class="icon-clock icon"></i>
                                <span>全部交易记录</span>
                            </a>
                        </li>
                    </ul>
                    <!-- 数据管理 E -->
                </nav>
                <!-- 导航菜单 E -->
            </div>
        </section>
    </section>
</aside>
<!-- 左边菜单栏 E -->