<!-- 左边菜单栏 S -->
<aside class="bg-black aside hidden-print" id="nav">
    <section class="vbox">
        <section class="w-f-md scrollable">
            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px"
                 data-railOpacity="0.2">
                <!-- 导航菜单 S -->
                <nav class="nav-primary hidden-xs">
                    <!-- 企业管理 S -->
                    <ul class="nav clearfix" data-ride="collapse">
                        <li class="hidden-nav-xs padder m-t m-b-sm font-bold text-lg">
                           企业管理
                        </li>
                        <li>
                            <a href="#" class="auto">
                                <span class="pull-right text-muted">
                                    <i class="fa fa-angle-right text"></i>
                                    <i class="fa fa-angle-down text-active"></i>
                                </span>
                                <i class="icon-settings icon text-success"></i>
                                <span class="font-bold">企业信息</span>
                            </a>
                            <ul class="nav dk text-sm">
                                <li>
                                    <a href="/admin/company/create" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>
                                        <span>新建企业信息</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/company/list">
                                        <i class="icon icon-list"></i>
                                        <span>企业信息列表</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- 企业管理 E -->
                    <!-- 系统管理 S -->
                    <ul class="nav clearfix" data-ride="collapse">
                        <li class="hidden-nav-xs padder m-t m-b-sm font-bold text-lg">
                            系统管理
                        </li>
                        <li>
                            <a href="#" class="auto">
                                <span class="pull-right text-muted">
                                    <i class="fa fa-angle-right text"></i>
                                    <i class="fa fa-angle-down text-active"></i>
                                </span>
                                <i class="icon-settings icon text-success"></i>
                                <span class="font-bold">评判选项表设置</span>
                            </a>
                            <ul class="nav dk text-sm">
                                <li>
                                    <a href="/admin/option/create" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>
                                        <span>新建评判选项表</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/option/list">
                                        <i class="icon icon-list"></i>
                                        <span>评判选项表列表</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="auto">
                                <span class="pull-right text-muted">
                                    <i class="fa fa-angle-right text"></i>
                                    <i class="fa fa-angle-down text-active"></i>
                                </span>
                                <i class="icon-settings icon text-success"></i>
                                <span class="font-bold">用户设置</span>
                            </a>
                            <ul class="nav dk text-sm">
                                <li>
                                    <a href="/admin/user/create" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>
                                        <span>新建用户</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/user/list">
                                        <i class="icon icon-list"></i>
                                        <span>用户列表</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="auto">
                                <span class="pull-right text-muted">
                                    <i class="fa fa-angle-right text"></i>
                                    <i class="fa fa-angle-down text-active"></i>
                                </span>
                                <i class="icon-settings icon text-success"></i>
                                <span class="font-bold">分组设置</span>
                            </a>
                            <ul class="nav dk text-sm">
                                <li>
                                    <a href="/admin/group/create" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>
                                        <span>新建分组</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/group/list">
                                        <i class="icon icon-list"></i>
                                        <span>分组列表</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- 系统管理 E -->

                </nav>
                <!-- 导航菜单 E -->
            </div>
        </section>
    </section>
</aside>
<!-- 左边菜单栏 E -->